body {
  background: var(--black);
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1{
  color: var(--Wild-Sand, #F4F4F4);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; 
  margin-top: 70px;
  margin-bottom: 90px;
}

label {
  color: var(--Wild-Sand, #F4F4F4);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

input {
  display: flex;
  width: 353px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid var(--black-rock-overlay, #2C2849);
  background: none;
  margin-top: 20px;
  margin-bottom: 52px;
  
}

input::placeholder{
  color: var(--text-input, #D7D7D7);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
  padding-left: 10px;
}

input::tar{

}

input[type="date"]::-webkit-datetime-edit{
  color: var(--text-input, #D7D7D7);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
  padding-left: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(100%);
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

input:focus {
    outline: 2px solid var(--Rose, #F20C8B);
}

.next-button {
  width: 353px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--Pelorous, #39B2BF);
  background: #39B2BF;
  color: #F4F4F4;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 18px */
  letter-spacing: 1.575px;
  text-transform: uppercase;
  position: absolute;
  bottom: 25px;
}
