/* Fonts */
@font-face {
  font-family: OnestExtraBold;
  src: url(./assets/fonts/Onest-ExtraBold.ttf);
}

@font-face {
  font-family: OnestSemiBold;
  src: url(./assets/fonts/Onest-SemiBold.ttf);
}

@font-face {
  font-family: OnestMedium;
  src: url(./assets/fonts/Onest-Medium.ttf);
}

@font-face {
  font-family: OnestRegular;
  src: url(./assets/fonts/Onest-Regular.ttf);
}

@font-face {
  font-family: OnestLight;
  src: url(./assets/fonts/Onest-Light.ttf);
}

/* Variables */

:root {
  --white: #F4F4F4;
  --black: #0B0326;
  --black-rock-overlay: #2C2849;
  --purple: #6626A6;
  --darBlue: #39B2BF;
  --liBlue: #1DF2DD;
  --pink: #F20C8B;
  --gradient: linear-gradient(to right, #F20C8B, #39B2BF);
  --text-input: #D7D7D7;
}

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-button{

  width: auto;
 padding: 16px 50px;
  border-radius: 12px;
  border: 1px solid var(--Pelorous, #39B2BF);
  background: #39B2BF;
  color: #F4F4F4;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  transform: translateX(-50%)

}

button{
  cursor: pointer;
}
