
.settings-icon {
  margin-left: 380px; 
  width: 30px;
  height: 30px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: left; /* align items to the start */
  text-align: center;
  margin-top: 20px; 
  
  
}
.profile-info {
  text-align: center;
  margin-bottom: 10px;
  white-space: pre-line;
  
}

.profile-pictures {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; /* align items to the top */

}

.current-profile-picture {
  margin-left: 260px; 
}

.profile-info p {
 font-size: 15px;
 font-family: OnestRegular;
 text-align: left;
 padding-left: 260px
 
}

.logo-container h1{
  font-family: OnestRegular;
  padding-left: 260px;
}

.logo-container h2{
  text-align: left;
  padding-left: 300px;
  font-size: 25px;
  font-family: OnestRegular;
  padding-left: 260px;
}

.profile-info h1 {
  margin-top: 10px;
  line-height: -0.10;
  text-align: left;
  padding-left: 260px;
  font-family: OnestRegular;
}

.profile-info h3 {
  margin-top: -50px;
  font-size: 15px;
  color: #f0f0f0;
  text-align: left;
  padding-left: 260px;
  font-family: OnestRegular;
}


.logo-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 20px; 
}

.logo2 {
  width: 50px;
  height: 50px;
  margin-bottom: 10px; 
}

.logo-container h1 {
  margin: 0; 
  line-height: 1.2; 
}

.logo-container h2 {
  margin: 0; 
  line-height: 1.5; 
  text-align: center;
}

.interests-barLifestyle {
width: 100%;
overflow-x: auto;
white-space: nowrap;
margin-top: 10px;
;
}
.lifestyle-title{
  font-size: 20px;
  text-align: left;
  padding-left: 260px;
}
.interests-barTop {
width: 100%;
overflow-x: auto;
white-space: nowrap;

}

.interests-container {
display: flex;
padding: 10px;
display: flex;
justify-content: left;
align-items: left;
padding-left: 260px;

}

.interest-item {
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--liBlue); /* Change to your desired color */
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
  color: var(--liBlue);
 
  
  
}

.gaming-highlights {
  margin-top: 20px;
  color: #f0f0f0;
}

.video-container {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 250px;
}

.video-clip {
  width: 38%;
}

.video-clip video {
  width: 100%;
  max-height: 300px;
}

.gaming-highlights {
  margin-top: 15px;
  color: var(--white);
  font-size: 20px;
  padding-left: 10px;
}

.interests-barConsoles {
  margin-top: 5px;
}

.interests-containerConsoles{
  margin-top: 5px;
  display: flex;
  padding-left: 260px;
  justify-content: left;
  align-items: left;
}
.interests-containerLifestyle{
  margin-top: 5px;
  display: flex;
  padding-left: 260px;
  justify-content: left;
  align-items: left;
}

.interests-containerGaming {
  margin-top: 5px;
  padding-left: 260px;
  display: flex;
  justify-content: left;
  align-items: left;
}

  .game-art {
    width: 150px; 
    height: 200px; 
    object-fit: cover;
    padding: 7px;
   
  }

  .interest-icon {
    width: 20px; 
    height: 20px; 
    margin-bottom: -5px;
  }

  .custom-font {
    font-family: OnestRegular;
  }

  .game-titles {
    font-size: 15px;
    color: var(--white);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-left: 20px; /* adjust this value to your liking */
    
  }